<section>
  <div class="n-main-container">
    <div class="n-title-container">
      <p class="n-title">Websites</p>
      <%= link_to "New website", new_sources_website_path, class: "n-btn-primary" %>
    </div>

    <div class="n-cards-grid">
      <% @websites.each do |website| %>
        <%= link_to sources_website_path(website), class: "n-card" do %>
          <h5 class="n-card-title"><%= website.title %></h5>
          <p class="n-card-subtitle"><%= website.resume %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
