<section>
  <div class="n-main-container">
    <div class="n-title-container">
      <p class="n-title">Texts</p>
      <%= link_to "New text", new_sources_text_path, class: "n-btn-primary" %>
    </div>

    <div class="n-cards-grid">
      <% @texts.each do |text| %>
        <%= link_to sources_text_path(text), class: "n-card" do %>
          <h5 class="n-card-title"><%= text.title %></h5>
          <p class="n-card-subtitle"><%= text.resume %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
