<section>
  <div class="n-main-container">
    <div class="n-title-container">
      <p class="n-title">Q&As</p>
      <%= link_to "New Q&A", new_sources_qna_path, class: "n-btn-primary" %>
    </div>

    <div class="n-cards-grid">
      <% @qnas.each do |qna| %>
        <%= link_to sources_qna_path(qna), class: "n-card" do %>
          <h5 class="n-card-title"><%= qna.question %></h5>
          <p class="n-card-subtitle"><%= qna.answer %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
