<section>
  <div class="n-main-container">
    <div class="n-title-container">
      <p class="n-title">Documents</p>
      <%= link_to "New document", new_sources_document_path, class: "n-btn-primary" %>
    </div>

    <div
      data-controller="dropzone"
      class="dropzone dropzone-default dz-clickable n-dropzone"
    ></div>

    <div class="n-cards-grid">
      <% @documents.each do |document| %>
        <%= link_to sources_document_path(document), class: "n-card" do %>
          <h5 class="n-card-title"><%= document.title %></h5>
          <p class="n-card-subtitle"><%= document.resume %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
