<div class="w-full">
  <div class="mx-auto">
    <%= render @document %>

    <%= link_to "Edit this document",
    edit_sources_document_path(@document),
    class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to documents",
    sources_documents_path,
    class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this document",
      sources_document_path(@document),
      method: :delete,
      class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
  </div>
</div>
