<div class="mx-auto w-full flex">
  <div class="mx-auto">
    <div class="bg-white py-8">
      <div class="mx-auto max-w-lg px-6">
        <ul role="list" class="overflow-y-auto max-h-[48vh] flex flex-col-reverse">
          <%= turbo_stream_from "#{dom_id(@chat)}_messages" %>
          <div id="<%= dom_id(@chat) %>_messages">
            <%= render @chat.messages %>
          </div>
        </ul>

        <%= render partial: "messages/form", locals: { chat: @chat } %>
      </div>
    </div>
  </div>
</div>
