<div id="<%= dom_id document %>">
  <h1 class="font-bold text-4xl"><%= document.title %></h1>
  <object class="my-5" data="<%= url_for(document.file) %>" type="application/pdf" width="100%" height="600">
    <embed src="<%= url_for(document.file) %>" type="application/pdf" />
  </object>
</div>
