<% if flash[:alert] %>
  <div
    class="
      p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800
      dark:text-red-400
    "
    role="alert"
  >
    <%= flash[:alert] %>
  </div>
<% end %>
<% if flash[:notice] %>
  <div
    class="
      p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800
      dark:text-blue-400
    "
    role="alert"
  >
    <%= flash[:notice] %>
  </div>
<% end %>
